@import './Index.scss';

.skills {
  list-style-type: none;
  columns: 2;
}

i {
  color: $color-secondary;
}

i:hover {
  color: $color-tertiary;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;

}

.profile-picture {
  @media (max-width: 725px) {
    width: 250px;
    height: 250px;
  }
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid $color-secondary;
  opacity: 1;
}

.profile-picture:hover {
  background: $color-secondary;
  opacity: 0.7;
}