@import './Index.scss';

.about {
  @media (max-width: 725px) {
    font-size: 24px;
  }
  font-size: 40px;
  color: $color-secondary !important;
}

ul {
  columns: 2;
}

i {
  color: $color-secondary;
}

img {
  @media (max-width: 725px) {
    width: 250px;
    height: 250px;
  }
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 0em 8em;
  border: 1px solid $color-secondary
}

// .img-bg {
//   margin-left: -17px;
//   width: 100%;
//   padding-bottom: 30px;
//   border: 2px solid #FFFFFF;
//   border-radius: 2px;
// }