@import './Index.scss';

button {
  cursor: pointer;
  width: 100%;
  background-color: transparent;
  height: 42px;
  text-align: left;
  color: $color-tertiary;
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s ease-in;
  border-left: 2px solid #5c7498;
  border-top: none;
  border-right: none;
  border-bottom: none;

  @media (max-width: 725px) {
    height: auto;
    text-align: center;
    border-bottom: 2px solid #5c7498;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}

button:hover, button:focus {
  color: $color-primary;
  outline: none;
  border-left: 2px solid $color-primary;
  border-top: none;
  border-right: none;
  border-bottom: none;

  @media (max-width: 725px) {
    border-bottom: 2px solid $color-primary;  
    border-top: none;
    border-right: none;
    border-left: none; 
  }
}

button:hover {
  border-left: 2px solid $color-primary;
  border-top: none;
  border-right: none;
  border-bottom: none;

  @media (max-width: 725px) {
    border-bottom: 2px solid $color-primary;
    border-top: none;
    border-right: none;
    border-left: none;
  }
}