@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400i|Playfair+Display:500i&display=swap');

$color-quaternary: #908AA4;
$color-tertiary: #b490ff;
$color-secondary: #d4c7fc;
$color-primary: #1A0554;
$color-main: #9e9e9e;

body {
  padding: 100px 25px 250px;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 900px;
}

.title {
  @media (max-width: 725px) {
    font-size: 30px;
  }
  font-size: 70px;
  font-weight: 900;
  color: $color-secondary; 
}

.short-bio {
  @media (max-width: 725px) {
    font-size: 30px;
  }
  font-size: 70px;
  font-weight: 900;
  color: $color-quaternary; 
}

.changing-span {
  @media (max-width: 725px) {
    font-size: 30px;
  }
  font-size: 70px;
  font-weight: 900;
  color: #FFFFFF !important;

}

.description {
  max-width: 600px;
}
