@import url('https://fonts.googleapis.com/css?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400i|Playfair+Display:500i&display=swap');
@import './Index.scss';

body {
  padding: 100px 25px 250px;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 800px;
}

.cv {
  @media (max-width: 725px) {
    padding: 15px 20px;
  }
  color: $color-tertiary;
  background-color: transparent;
  line-height: 1;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-color: $color-tertiary;
  border-image: initial;
  border-radius: 3px;
  padding: 20px 25px;
  text-decoration: none;
  letter-spacing: 1px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.cv:hover {
  color: $color-secondary;
  border-color: $color-secondary;
  text-decoration: none;
}

.title {
  @media (max-width: 725px) {
    font-size: 20px;
  }
  font-size: 70px;
  font-weight: 900;
  color: $color-secondary; 
}

.short-bio {
  @media (max-width: 725px) {
    font-size: 20px;
  }
  font-size: 70px;
  font-weight: 900;
  color: $color-quaternary; 
}

.changing-span {
  @media (max-width: 725px) {
    font-size: 20px;
  }
  font-size: 70px;
  font-weight: 900;
  color: #FFFFFF !important;

}

.description {
  max-width: 600px;
  margin-bottom: 90px;
  @media (max-width: 725px){
    margin-bottom: 80px;
  }
}
