$color-primary: #0cb7de;
$color-secondary: #96b7e9;
$color-tertiary: #a7dff4;
$color-quarternary: #33415c;
$color-quinary: #5c677d;
$color-senary: #7d8597;
$color-septenary: #b0b7c7;
$color-text: #e9e9e9;
$color-background: #030b1c;

html {
	background-color: $color-background;
}
body {
	@media screen and (max-width: 768px) {
		font-size: 14px !important;
	}
	background-color: #030b1c;
	color: $color-text;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin: 0px auto;
	overflow-x: hidden;
}

.content {
	max-width: 1000px;
}

a {
	color: $color-secondary;
}

a:hover {
	color: $color-tertiary;
	text-decoration: none;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

a.active {
	color: $color-primary;
}

::selection {
	background-color: rgb(136, 146, 176);
	color: rgb(204, 214, 246);
}

.height {
	padding: 100px 0px;
	max-width: 1000px;
}

@media screen and (max-width: 768px) {
	.height {
		padding: 80px 0px;
	}
}

.heading {
	font-size: 40px;
	color: $color-tertiary;
	font-weight: 900;
	text-transform: capitalize;

	@media screen and (max-width: 768px) {
		font-size: 24px;
	}
}

.color-secondary {
	color: $color-secondary;
}

.color-primary {
	color: $color-primary;
}

.color-tertiary {
	color: $color-tertiary;
}

.color-quarternary {
	color: $color-quarternary;
}

.color-quinary {
	color: $color-quinary;
}

.color-senary {
	color: $color-senary;
}

.color-septenary {
	color: $color-septenary;
}
