@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$color-quaternary: #908AA4;
$color-tertiary: #b490ff;
$color-secondary: #d4c7fc;
$color-primary: #1A0554;
$color-main: #9e9e9e;

body {
  background-color: #0c021a;
  color: #cbcbcb;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

::selection {
  background-color: rgba(255, 255, 255, 0.8);
  color: #211859;
}

//   color: #D98289;
//   color: #D96277;
//   color: #A62662;
//   color: #211859;
//   color: #181240;


//   color: #731753;
//   color: #BFA4B8;
//   color: #272F40;
//   color: #3F4859;
//   color: #0C0D0B;

