@import './Index.scss';

.menu {
	width: 100%;
	z-index: 100;
	background-color: rgba(3, 11, 28, 0.9);
	position: fixed;
}

.spacer {
	flex: 1;
}

code {
	font-family: 'Fira Mono', monospace;
	font-size: 15px;

	@media screen and (max-width: 725px) {
		font-size: 13px;
	}
}

.logo {
	@media screen and (max-width: 725px) {
		display: none;
	}
	color: $color-text;
	letter-spacing: 2px;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.logo:hover {
	letter-spacing: 1px;
}

nav {
	display: flex;
	position: fixed;
	z-index: 100;
	width: 100%;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	padding: 30px;

	@media screen and (max-width: 768px) {
		padding: 20px;
	}
}

.nav-ul {
	display: none;
	align-items: center;
	justify-content: center;
	padding: 0;
	margin: 0;
	list-style-type: none;
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.nav-ul li a {
	display: inline-block;
	cursor: pointer;
	color: $color-tertiary;
	padding: 10px 25px;
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 13px;
	text-transform: uppercase;

	@media screen and (max-width: 768px) {
		color: white;
	}
}

.nav-ul li a:hover {
	color: $color-secondary;
}

.nav-ul li a.active {
	color: $color-primary;

	@media screen and (max-width: 768px) {
		color: $color-secondary;
	}
}

.hamburger div {
	height: 2px;
	background-color: white;
	margin: 5px;
	border-radius: 100px;
	transform: rotate(180deg);
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.top-bar {
	width: 25px;
}

.middle-bar {
	width: 17px;
}

.bottom-bar {
	width: 12px;
}

.toggle .top-bar {
	background-color: #ffffff;
	transform: rotate(-45deg) translate(-2px, 4px);
}

.toggle .middle-bar {
	opacity: 0;
}

.toggle .bottom-bar {
	background-color: #ffffff;
	transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 768px) {
	nav.active {
		background-color: rgba($color: #000000, $alpha: 0.95);
		transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
	}

	.nav-ul.active {
		display: flex;
		padding: 20px;
		flex-direction: column;
		width: 100%;
		height: 100vh;
		justify-content: flex-start;
		align-items: flex-start;
	}
}

@media screen and (min-width: 768px) {
	.hamburger {
		display: none;
	}

	.nav-ul {
		display: flex;
	}
}
